header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  z-index: 999;
  padding: 25px;
  justify-content: space-between;

  div.header__logo {
    text-align: center;
    width: 108px;
    height: 100%;

    img {
      height: 100%;
    }
  }
  div.header__menu_button {
    width: 108px;
    height: 100%;

    button {
      display: inline-block;
      text-decoration: none;
      width: auto;
      height: auto;
      padding: 15px 20px;
      border: 1px solid red;
      background-color: transparent;

      i.fa {
        font-size: 4em;
        color: #13BEDB;
      }
    }
  }
}
header.active {
  background-color: #fff;
}