.aws-sld__container figure, .aws-sld__content, .aws-sld__box {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.aws-sld__controls button, .aws-sld__bullets button {
  outline-color: 0;
  outline-style: none;
  outline-width: 0; }

.aws-sld {
  --organic-arrow-thickness: 4px;
  --organic-arrow-height: 40px;
  --slider-height-percentage: 40%;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-opacity: 0.5;
  --control-button-hover-opacity: 0.75;
  --control-button-background: transparent;
  --transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
  --slider-transition-duration: 575ms;
  --organic-arrow-color: #6a6a6a;
  --organic-arrow-border-radius: 0;
  --control-bullet-color: #6a6a6a;
  --control-bullet-active-color: #6a6a6a;
  --content-background-color: #2f2f2f; }

.aws-sld {
  display: block;
  width: 100%;
  position: relative;
  max-width: 100%; }
  .aws-sld__wrapper {
    display: block;
    overflow: hidden;
    position: relative; }
  .aws-sld__container {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: var(--slider-height-percentage); }
    @media all and (max-width: 500px) {
      .aws-sld__container {
        padding-bottom: calc(var(--slider-height-percentage) * 1.25); } }
  .aws-sld__startUp {
    background-color: red;
    height: 100%;
    width: 100%; }
    .aws-sld__startUp > div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .aws-sld__startUp img {
      width: 35%;
      height: auto; }
  .aws-sld__content {
    background-color: var(--content-background-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
    .aws-sld__content > img, .aws-sld__content > video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .aws-sld__controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--control-button-width);
    height: var(--control-button-height);
    position: absolute;
    z-index: 10;
    top: calc(50% - (0.5 * var(--control-button-height)));
    border: none;
    background-color: var(--control-button-background);
    color: #FFF;
    cursor: pointer; }
    .aws-sld__controls button .aws-sld__controls__arrow-left,
    .aws-sld__controls button .aws-sld__controls__arrow-right {
      opacity: var(--control-button-opacity); }
    .aws-sld__controls button:hover .aws-sld__controls__arrow-left,
    .aws-sld__controls button:hover .aws-sld__controls__arrow-right {
      opacity: var(--control-button-opacity-hover); }
  .aws-sld__controls--active .aws-sld__controls__arrow-left {
    opacity: var(--control-button-opacity-hover);
    transform: translate3d(-100%, 0, 0); }
  .aws-sld__controls--active .aws-sld__controls__arrow-right {
    opacity: var(--control-button-opacity-hover);
    transform: translate3d(100%, 0, 0); }
  @media all and (max-width: 520px) {
    .aws-sld__controls {
      visibility: hidden; } }
  .aws-sld__bar {
    display: block;
    width: 100%;
    height: var(--loader-bar-height);
    background-color: var(--loader-bar-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 3000ms var(--transition-bezier);
    transform: translate3d(-100%, 0, 0); }
    .aws-sld__bar--active {
      transform: translate3d(-20%, 0, 0); }
    .aws-sld__bar--end {
      transition-duration: 300ms;
      transform: translate3d(0, 0, 0); }
  .aws-sld__next {
    right: 0; }
  .aws-sld__prev {
    left: 0; }
  .aws-sld__box {
    z-index: 1; }
  .aws-sld--animated {
    transition: transform var(--slider-transition-duration) var(--transition-bezier); }
  .aws-sld--animated-mobile {
    transition: transform 325ms cubic-bezier(0.15, 0.65, 0.1, 1); }
  .aws-sld--active {
    z-index: 2;
    transform: translate3d(0, 0, 0); }
  .aws-sld--moveRight {
    transform: translate3d(100%, 0, 0); }
  .aws-sld--moveLeft {
    transform: translate3d(-100%, 0, 0); }
  .aws-sld--exit {
    z-index: 0; }
  .aws-sld--first .aws-sld__prev {
    visibility: hidden; }
  .aws-sld--last .aws-sld__next {
    visibility: hidden; }
  .aws-sld__bullets {
    position: absolute;
    bottom: -40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .aws-sld__bullets button {
      padding: 0;
      display: block;
      width: 16px;
      height: 16px;
      margin: 5px;
      border-radius: 50%;
      background: var(--control-bullet-color);
      text-indent: -9999px;
      overflow: hidden;
      cursor: pointer;
      border: none;
      transition: transform 0.225s cubic-bezier(0.8, 1.35, 0.75, 1.45), background-color 0.175s ease-out; }
      .aws-sld__bullets button:hover {
        transform: scale(1.2); }
    .aws-sld__bullets .aws-sld__bullets--loading {
      transform: scale(1.2); }
    .aws-sld__bullets .aws-sld__bullets--active {
      transform: scale(1.5);
      background: var(--control-bullet-active-color); }
      .aws-sld__bullets .aws-sld__bullets--active:hover {
        transform: scale(1.5); }
  .aws-sld__controls__arrow-left, .aws-sld__controls__arrow-right {
    width: 100%;
    height: var(--organic-arrow-height);
    position: relative;
    display: block;
    transition: transform .2s ease-out .125s, opacity .2s ease-out; }
    .aws-sld__controls__arrow-left:before, .aws-sld__controls__arrow-left:after, .aws-sld__controls__arrow-right:before, .aws-sld__controls__arrow-right:after {
      content: " ";
      position: absolute;
      right: calc(50% - (0.7071 * (var(--organic-arrow-height) + var(--organic-arrow-thickness))) / 2);
      height: 100%;
      border-radius: var(--organic-arrow-border-radius);
      width: var(--organic-arrow-thickness);
      background-color: var(--organic-arrow-color);
      transition: transform .15s ease-out, background-color .15s ease-out; }
    .aws-sld__controls__arrow-left:before, .aws-sld__controls__arrow-right:before {
      transform-origin: 100% 100% 0;
      top: -50%;
      transform: rotate(-45deg); }
    .aws-sld__controls__arrow-left:after, .aws-sld__controls__arrow-right:after {
      transform-origin: 100% 0% 0;
      top: 50%;
      transform: rotate(45deg); }
  .aws-sld__controls__arrow-right--active {
    transform: translate3d(100%, 0, 0); }
    .aws-sld__controls__arrow-right--active:after {
      transform: rotate(90deg) translate3d(50%, 0, 0) !important; }
    .aws-sld__controls__arrow-right--active:before {
      transform: rotate(-90deg) translate3d(50%, 0, 0) !important; }
  .aws-sld__controls__arrow-left:before, .aws-sld__controls__arrow-left:after {
    right: auto;
    left: calc(50% - (0.7071 * (var(--organic-arrow-height) + var(--organic-arrow-thickness))) / 2); }
  .aws-sld__controls__arrow-left:before {
    transform-origin: 0 100% 0;
    top: -50%;
    transform: rotate(45deg); }
  .aws-sld__controls__arrow-left:after {
    transform-origin: 0 0 0;
    top: 50%;
    transform: rotate(-45deg); }
  .aws-sld__controls__arrow-left--active {
    transform: translate3d(-100%, 0, 0); }
    .aws-sld__controls__arrow-left--active:after {
      transform: rotate(-90deg) translate3d(-50%, 0, 0) !important; }
    .aws-sld__controls__arrow-left--active:before {
      transform: rotate(90deg) translate3d(-50%, 0, 0) !important; }
  .aws-sld__controls button:hover .aws-sld__controls__arrow-left:before {
    opacity: 1;
    transform: rotate(30deg); }
  .aws-sld__controls button:hover .aws-sld__controls__arrow-left:after {
    opacity: 1;
    transform: rotate(-30deg); }
  .aws-sld__controls button:hover .aws-sld__controls__arrow-right:before {
    opacity: 1;
    transform: rotate(-30deg); }
  .aws-sld__controls button:hover .aws-sld__controls__arrow-right:after {
    opacity: 1;
    transform: rotate(30deg); }

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 5px;
  --organic-arrow-height: 32px;
  --organic-arrow-color: #26456f;
  --control-button-width: 7%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px; }

.aws-slr--exit.aws-slr--moveLeft {
  transform: scale(0.85); }
.aws-slr--exit.aws-slr--moveRight {
  transform: scale(0.85); }

/*# sourceMappingURL=AwsSlider.css.map */
