.last__result {
  position: relative;
  width: 400px;
  height: 200px;
  margin: auto;
  border: 2px solid #e0e0e0; }
  .last__result h2 {
    position: relative;
    margin: 0;
    height: 50px;
    line-height: 50px;
    text-align: center; }
  .last__result .last__result__teams {
    width: 400px;
    height: 80px;
    justify-content: space-between;
    background-color: #e0e0e0; }
    .last__result .last__result__teams .last__result_team_first, .last__result .last__result__teams .last__result_team_second {
      display: flex;
      width: 80px;
      height: 80px;
      padding-top: 10px;
      text-align: center; }
      .last__result .last__result__teams .last__result_team_first img, .last__result .last__result__teams .last__result_team_second img {
        display: inline-block;
        margin: auto;
        width: 50px;
        height: 50px;
        padding: 5px; }
    .last__result .last__result__teams .last__result__info {
      text-align: center; }
      .last__result .last__result__teams .last__result__info .last__result__info__date {
        line-height: 50px; }
      .last__result .last__result__teams .last__result__info .last__result__info__score {
        line-height: 30px;
        font-size: 1.3em; }
  .last__result .last__result__label {
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 1.5em;
    background-color: #e0e0e0; }

/*# sourceMappingURL=LastResult.css.map */
