html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

section.main {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0;
  background-color: rgba(19, 191, 219, 0.4); }

div.page__header {
  width: 30%;
  margin: auto;
  height: 150px; }
  div.page__header h1 {
    line-height: 80px;
    color: #000000;
    border-bottom: 5px solid #12BEDB;
    text-align: center; }

/*# sourceMappingURL=Layout.css.map */
