.home__next__match {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 25px auto;
  border: 2px solid #e0e0e0; }
  .home__next__match h2 {
    position: relative;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    text-align: center; }
  .home__next__match .next__match__teams {
    position: relative;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 50px;
    text-align: center;
    background-color: #f4f4f4; }
    .home__next__match .next__match__teams p {
      color: #222222;
      font-weight: bold;
      line-height: 50px;
      padding: 0;
      margin: 0; }
  .home__next__match .next__match__timer {
    position: relative;
    width: 400px;
    padding: auto;
    height: 100px;
    background-color: #f4f4f4; }
    .home__next__match .next__match__timer .timer__box {
      width: 100px;
      height: 100px;
      border: 1px solid #e0e0e0; }
      .home__next__match .next__match__timer .timer__box span {
        display: inline-block;
        margin: auto;
        justify-content: center; }
      .home__next__match .next__match__timer .timer__box .timer__numeric {
        font-size: 2em; }
      .home__next__match .next__match__timer .timer__box .timer__text {
        font-size: 1.2em; }

/*# sourceMappingURL=NextMatch.css.map */
